<app-books-search [query]="query" (search)="searchBooks($event)"></app-books-search>
<ng-container *ngIf="serviceLoading && serviceLoading[SERVICE_LOADING.GET_BOOKS]; else showResults">
    <div>Выполняется поиск...</div>
</ng-container>
<ng-template #showResults>
    <ng-container *ngIf="!booksResponse; else results">Начните поиск...</ng-container>
    <ng-template #results>
        <div *ngIf="!booksResponse.items?.length; else showItems">По Вашему запросу ничего не найдено</div>
        <ng-template #showItems>
            <div>Найдено всего: {{booksResponse.totalItems}}</div>
            <div *ngFor="let book of booksResponse.items; let i = index;">
                {{i + 1}}. {{book.volumeInfo.title}}. {{book.volumeInfo.subtitle}}
            </div>
        </ng-template>
        <div *ngIf="booksResponse.totalItems > booksResponse.items.length">
            <button (click)="getNextPage()">Загрузить ещё результаты</button>
        </div>
    </ng-template>
</ng-template>
