<div class="container">
    <app-books-search
        [query]="query"
        [searchLoading]="getBooksLoading()"
        (search)="searchBooks($event)">
    </app-books-search>
</div>

<div class="container status">
    <div class="notification is-medium">
        <span *ngIf="getBooksLoading(); else statusShowResults">Выполняется поиск...</span>
        <ng-template #statusShowResults>
            <span *ngIf="!booksResponse; else statusResults">Начните поиск...</span>
        </ng-template>
        <ng-template #statusResults>
            <span *ngIf="!booksResponse.items?.length; else statusShowItems">
                По Вашему запросу ничего не найдено
            </span>
        </ng-template>
        <ng-template #statusShowItems>
            <span>Найдено всего: {{booksResponse.totalItems}}</span>
        </ng-template>
    </div>
</div>

<div class="container" *ngIf="booksResponse?.items?.length">

    <div class="container" *ngFor="let book of booksResponse.items; let i = index;">
        <app-book-card
            [book]="book"
            [isFavourite]="!!favouritesMap[book.id]"
            (toggleFavourites)="toggleFavourites(book)"></app-book-card>
    </div>

    <div class="container next-page" *ngIf="booksResponse.totalItems > booksResponse.items.length">
        <div class="notification has-text-centered" *ngIf="getNextBooksPageLoading(); else getNextPageButton">
            <span class="is-medium">Загружаем результаты...</span>
        </div>

        <ng-template #getNextPageButton>
            <button class="button is-link is-medium is-fullwidth" (click)="getNextPage()">Загрузить ещё результаты
            </button>
        </ng-template>
    </div>
</div>
