<form [formGroup]="searchForm" novalidate>
    <div class="g-column__search-block">
        <input
            #inputElement
            type="text"
            class="g-search"
            formControlName="query"
            placeholder="Поиск..."
            [maxlength]="maxlength"
        />
<!--        <button class="g-column__btn g-column__btn&#45;&#45;close"-->
<!--                [class.g-column__btn&#45;&#45;close-active]="inputElement.value"-->
<!--                (click)="clearSearch()">X-->
<!--        </button>-->
    </div>

</form>
