<form [formGroup]="searchForm" novalidate>
    <div class="container">
        <div class="field has-addons">
            <p class="control is-expanded is-large" [class.is-loading]="searchLoading">
                <input
                    #inputElement
                    class="input is-large is-expanded"
                    type="text" placeholder="Начните поиск..."
                    formControlName="query" [maxlength]="maxlength"/>
            </p>
            <p class="control">
                <button class="button is-large" [disabled]="!inputElement.value" (click)="clearSearch()">
                    Clear
                </button>
            </p>
        </div>
    </div>

</form>
